<div class="split-slide">
  <div class="row g-5 align-items-center">
    <div class="col-12 {% if image %}col-md-6{% else %}col-md-12{% endif %}">
      <h2 class="display-6 mb-3">{{ title }}</h2>
      <div class="split-content">
        {{ text | safe }}
      </div>
    </div>
    {% if image %}
    <div class="col-12 col-md-6">
      <div class="split-image">
        <img src="{{ image }}" class="img-fluid" loading="lazy" alt="imagem" />
      </div>
    </div>
    {% endif %}
  </div>
</div>
